* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    border: solid black 0px;
    margin-top: 0.5em;
}

.square {
    border: solid black 1px;
}

.marker {
    background-color: black;
}

button {
    width: 5em;
}